.summary-cards-container {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-bottom: 2rem;
}

@media (max-width: 992px) {
  .summary-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
